<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bootstrap Example</title>
	<meta http-equiv="refresh" content="60" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<h2>Flights Table</h2>
		<form class="form-inline" th:action="@{/flights}">
			<input type="text" class="form-control mb-2 mr-sm-2" placeholder="Search Flight No" name="flightNo">
			<button type="submit" class="btn btn-primary mb-2">Search</button>
			<a th:href="@{/}" class="btn btn-danger mb-2">Reset</a>
		</form>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Flight Info</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="flight: ${flights}">
					<td th:text="${flight.toString()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>